<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>InkUp | Sign Up</title>
    <link rel="stylesheet" type="text/css" href="/static/styles/common.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/auth.css">
</head>

<body>
    <div class="auth-block">
        <h1>Sign Up</h1>
        <form method="post" action="{{ data.signup_url }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <div class="field">
                <label for="username">Username: </label><br>
                <input type="text" id="username" name="username" required />
                <br>
            </div>
            <div class="field">
                <label for="password">Password: </label><br>
                <input type="password" id="password" name="password" required />
                <br>
            </div>
            <input type="submit" value="Submit" id="submit">
        </form>
    </div>
</body>

</html>
